.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3px;
    font-size: 28px;
    font-weight: bold;
    background: black;
    background-size: cover;
    color: white;
    padding: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}