body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 8px;
    background-color: #f4f4f4;
    text-align: center;
}
footer {
    background: black;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
p {
    margin: 5px 0;
}