* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #2c3e50;
    border-bottom: 3px solid #3498db;
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 20px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.gallery-item {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    width: 300px;
    height: auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}

.gallery-item p {
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.gallery-item:hover img {
    transform: scale(1.05);
}

.gallery-item:hover p {
    color: #3498db;
}